.prices {
  display: flex;
  max-width: 1440px;
  min-height: 661px;
  margin: 0 auto;
  &__container {
    max-width: 1440px;
    width: 100%;
  }
  &__packets {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: 0 auto 50px;
    padding: 0 40px;
    list-style: none;
    align-self: center;
  }
  &__title {
    font-family: "MarckScript-Regular", sans-serif;
    font-size: 50px;
    color: #504e4e33;
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 1024px) {
  .prices {
    flex-direction: column;
    &__title {
      font-size: 40px;
    }
    &__packets {
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 776px) {
  .prices {
    &__packets {
      margin: 30px auto;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 567px) {
  .prices {
    &__packets {
      padding: 0 20px;
      grid-template-columns: 1fr;
    }
  }
}
