$colorLinks: #c69b6b;
$colorInitDots: #bbbb;
$colorActiveDots: #717171;
$colorText: white;
$colorBackgroundLink: #ff9696;
$colorBackgroundLinkHover: rgba(255, 150, 150, 0.6);
$colorBackgroundArrow: rgba(255, 255, 255, 0.1);
$colorBackgroundArrowHover: rgba(255, 255, 255, 0.2);
$colorArrow: rgba(255, 255, 255, 0.5);
$colorArrowHover: rgba(255, 255, 255, 0.9);

.slideShow {
  position: relative;
  height: 640px;
  width: 100%;
  box-sizing: border-box;
  &__aboutMe-container {
    width: calc(100% - 1440px);
    transform: translateX(50%);
    z-index: 1;
    position: absolute;
    left: 50px;
    bottom: 30px;
    text-align: left;
  }
  &__welcome-title {
    display: block;
    width: max-content;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    transform: translateY(50px);
    opacity: 0;
    background: -webkit-linear-gradient(#ff9696, #ffe89e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
    &::before {
      content: "Привет!";
      display: inline-block;
      font-size: 35px;
      font-weight: 700;
      background: -webkit-linear-gradient(#ff9696, #ffe89e);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
    }
  }
  &__welcome-description {
    margin: 10px 0 0;
    width: max-content;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s 0.4s;
    color: $colorText;
  }
  &__welcome-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 15px 0 0;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    background-color: $colorBackgroundLink;
    color: $colorText;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s 0.6s, opacity 1s 0.6s, background 0.6s;
    &:hover {
      cursor: pointer;
      background-color: $colorBackgroundLinkHover;
    }
  }

  &__social-networks {
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s;
  }

  &__image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  &__dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: $colorInitDots;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s;
    transform: translateY(0);
    &_active {
      background-color: $colorActiveDots;
    }
    &:hover {
      cursor: pointer;
      background-color: $colorActiveDots;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    height: 100px;
    width: 40px;
    transform: translateY(-50px);
    border: none;
    background-color: $colorBackgroundArrow;
    font-size: 28px;
    color: $colorArrow;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s;
    &:hover {
      background-color: $colorBackgroundArrowHover;
      color: $colorArrowHover;
    }
    &_prev {
      left: 100px;
    }
    &_next {
      right: 100px;
    }
  }
  &__prev-image {
    animation: slideShow__prev-image ease 1s;
    animation-delay: 6s;
  }
  &__next-image {
    animation: slideShow__next-image ease 2s;
  }
}

.slideShow__welcome-title.anim-items_active {
  opacity: 1;
  transform: translateY(0);
  &:before {
    opacity: 1;
  }
}
.slideShow__welcome-description.anim-items_active,
.slideShow__welcome-link.anim-items_active {
  opacity: 1;
  transform: translateY(0);
}
