//COLORS
$ButtonHoverColor: #FF969699;
$ButtonColor: #ff9696;
$ButtonDisabledColor: #C9C1C182;
$ButtonTextColor: #FFFFFFFF;
$TextColor: #79553d;
$BackgroundColorHeaderTable: #89868666;
$BackgroundColorRowTable: #89868623;

