//COLORS
$ButtonHoverColor: #FF969699;
$ButtonColor: #ff9696;
$ButtonDisabledColor: #C9C1C182;
$ButtonTextColor: #FFFFFFFF;
$TextColor: #79553d;
$BackgroundColorHeaderTable: #89868666;
$BackgroundColorRowTable: #89868623;

$colorBackground: rgba(0, 0, 0, 0.4);
$colorBackgroundScroll: rgba(0, 0, 0, 0.8);
$colorIconBurgerMenu: rgba(255,252,236,1);

