.infoToolTip {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #9ec39e;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px 0 #504e4e;
  animation: smoothAppearance 5s forwards;
  &__text {
    position: absolute;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #395e39;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 15px;
    &_error {
      color: #613030;
    }
  }
  &__error {
    background-color: #ff9696;
    height: 50px;
  }
}

@keyframes smoothAppearance {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
