.confirmMessage {
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: white;
  margin: 50px auto;
  padding: 40px;
  &__title {
    color: #ff9696;
    margin-top: 20px;
  }
  &__container {
    padding: 20px 0;
    list-style: none;
  }
  &__text {
    padding: 5px;
  }
  &__backButton {
    color: #ff9696;
    text-decoration: none;
  }
  &__logo {
    max-width: 400px;
    width: 60%;
    margin: auto;
  }
}
