@import "../../styles/vars";

.popularPackets {
  margin: 50px auto;
  &__title {
    width: 100%;
    font-size: 28px;
    font-weight: normal;
    text-align: left;
    color: $TextColorBrownDark;
    display: inline;
  }
  &__container {
    margin: 20px auto 0;
    width: 100%;
  }
  &__packets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
    max-width: 1360px;
    list-style: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) {
  .popularPackets {
    &__container {
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .popularPackets {
    max-width: 100%;
    &__container {
      margin: 20px auto 30px;
    }
    &__packets {
      grid-gap: 20px;
      margin: 0;
    }
    &__title {
      position: static;
      width: max-content;
      margin: 0 auto;
      color: $TextColorBrownDark;
    }
  }
}

@media screen and (max-width: 776px) {
  .popularPackets {
    &__container {
      padding: 0 20px;
    }
    &__title {
      font-size: 24px;
    }
    &__packets {
      grid-gap: 20px;
    }
  }
}

@media screen and (max-width: 567px) {
  .popularPackets {
    max-width: 100%;
    &__packets {
      grid-gap: 15px;
    }
  }
}

@media screen and (max-width: 460px) {
  .popularPackets {
    max-width: calc(100% - 40px);
    &__container {
      padding: 0;
    }
    &__title {
      font-size: 20px;
    }
    &__packets {
      padding: 0;
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 320px) {
  .popularPackets {
    max-width: 100%;
    &__packets {
      padding: 0 20px;
    }
  }
}
